body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
img.modalImg {
  width: 50%;
  height: auto;
}
#code {
  font-size: 4rem;
}
.title a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
  @media only screen and (max-width: 700px) {
    embed.title {
      width: 100vw;
    }
  }